<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>后台登录</title>
    <script src="../static/js/jquery-3.5.1.js"></script>
    <script src="../static/layui/layui.js"></script>

    <link href="../static/css/login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<input id="path" type="hidden" value="${pageContext.request.contextPath}">
<div class="login_box">
    <div class="login_l_img"><img src="../static/images/login-img.png"/></div>
    <div class="login">
        <div class="login_logo"><a href="#"><img src="../static/images/login_logo.png"/></a>
        </div>
        <div class="login_name">
            <p>后台管理系统</p>

        </div>

        <form method="post">
            <input name="username" type="text" id="loginUsername" placeholder="用户名">
            <!--                       <span id="password_text">-->
            <input name="password" type="password" id="loginPassword" placeholder="密码"/>

            <input name="vnode" type="text" id="loginVnode" placeholder="验证码" style="vertical-align:middle">
            <img id="vCodeImg" src="/login/VerifyCode" style="display: inline-block;
            vertical-align:middle;margin-bottom: 15px;margin-left: 10px;width: 100px;height: 50px"
                 class="vCodeImg" onclick="changeImg()">

            <!--            <img class="verifyCode" onclick="changeImg()" src="/login/getVerifyCode">-->
            <input id="loginBtn" type="button" class="submit layui-btn layui-btn-primary" value="登录">
        </form>
    </div>
</div>
</body>
<script>
    layui.use(['layer'], function () {
        var layer = layui.layer;
    })
    var path;
    $(function () {
        //声明当前路径为全局变量
        path = $("#path").val();
        console.log(path)
        // 登陆事件
        $('#loginBtn').click(function () {
            login();
        });
    })

    // 登录流程
    function login() {
        // if (!validateCode('#loginCard', '#loginCode')) {
        //     //阻断提示
        // } else {
        var account = $('#loginUsername').val();
        var pwd = $('#loginPassword').val();
        var vCode = $('#loginVnode').val();
        // var params = {};
        // params.loginUsername = loginUsername;
        // params.loginPassword = loginPassword;
        var loginLoadIndex = layer.load(2);
        $('#loginBtn').val("正在登录...");
        $.ajax({
            type: 'post',
            url: '/login/staffLogin',
            dataType: 'text',
            data: "account=" + account + "&pwd=" + pwd + "&vCode=" + vCode,
            // contentType:'application/json',
            success: function (data) {
                console.log(data)
                layer.close(loginLoadIndex);
                changeImg();//每次登陆之后，更换验证码
                if (data == 'success') {
                    layer.msg("登录成功", {icon: 6}, {time: 1000});
                    window.location.href = '/menu/findMenu';
                } else if (data == 'vcFail') {
                    layer.msg("验证码输入错误", {icon: 2});
                    $('#loginBtn').val("登录");
                } else {
                    layer.msg("账号密码错误", {icon: 2});
                    $('#loginBtn').val("登录");
                }
            },
            error: function () {
                layer.close(loginLoadIndex);
                $('#loginBtn').val("登录");
            }
        });
        // }
    }

    function changeImg() {
        // var  path = $("#path").val();
        $("#vCodeImg").attr("src", "/login/VerifyCode?date=" + new Date());
    }

</script>
</html>